* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ShowOnlyDesktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .ShowOnlyDesktop {
        display: block;
    }
}
